chains:
    juno-1:
        manager: juno13fuh46m0wpc4kgv3e0p7gsax9xh3e74wp58xcu2kzyvrgh87zzeqxdva56
        gas_prices: 0.1
        gas_adjustment: 1.5
    uni-5:
        manager: juno1x4uaf50flf6af8jpean8ruu8q8jdraaqj7e3gg3wemqm5cdw040qk982ec
        gas_prices: 0.1
        gas_adjustment: 1.5
